In [1]:
import imageio
import pylab

from mpl_toolkits.mplot3d import Axes3D

import pandas as pd
pd.set_option('mode.chained_assignment', None)

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.colors as colors
%matplotlib inline

import numpy as np
from numpy import linalg as LA
from numpy.linalg import inv, lstsq

import seaborn as sns
from datetime import datetime

import scipy
from scipy.stats import skew
from scipy.stats.stats import pearsonr

from random import *

%config InlineBackend.figure_format = 'retina' #set 'png' here when working on notebook

from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, LassoLarsCV, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, LeaveOneOut
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, scale
from sklearn import cross_validation
from sklearn.linear_model import LinearRegression
from sklearn.cross_decomposition import PLSRegression, PLSSVD




import statsmodels.api as sm
from math import sqrt
from sklearn.metrics import mean_squared_error

from sklearn.decomposition import PCA


import csv

/home/Jeeves/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/Jeeves/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [21]:
train_raw = pd.read_csv("train_final.csv", index_col=0)
train_raw = train_raw.drop(['F25', 'F26', 'F27'], axis=1)
train_raw

,Y,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24
id,,,,,,,,,,,,,,,,,,,,,
1,1,38733,61385,0,38,118751,1000,32020,1,121980,...,1,119757,119100,1,118830,1,1,126461,1,46871
2,1,34248,51329,0,41,120800,1000,130630,1,124029,...,1,138110,121149,1,118832,1,1,130296,1,42386
3,1,15830,5522,0,50,118779,1000,303218,2,122006,...,1,119777,119126,1,118832,1,2,127063,1,23968
4,1,19417,6754,0,45,123163,2000,19024,1,126391,...,2,270637,123511,1,118832,1,1,15274,1,27555
5,1,42122,16991,0,41,119193,1000,303218,1,122422,...,1,119777,119542,1,118832,1,1,133491,1,50260
6,1,80917,20986,0,43,120061,2000,142803,1,123640,...,1,184371,120760,1,120057,1,1,132276,1,89055
7,1,15851,53356,0,40,120822,1000,303218,1,124050,...,1,131956,121170,1,118832,1,1,130764,1,23989
8,1,42296,4656,0,44,118779,1000,303218,1,122006,...,1,119777,119126,1,118832,1,1,128536,1,50434
9,1,78876,42267,0,48,120064,2000,315517,1,123643,...,1,121648,120763,1,119703,2,1,127364,1,87014
10,1,5674,2966,1,40,119650,1000,320873,1,122878,...,1,281314,119998,1,119186,1,1,233559,1,13812
11,1,28924,70112,0,47,119622,1000,44319,1,123201,...,1,121992,120321,1,119765,1,1,126515,3,37062
12,1,38650,17777,0,42,119558,8000,320873,1,122786,...,1,281314,119906,1,118832,1,1,130556,1,46788
13,1,75985,139291,0,39,161531,1000,144293,1,165109,...,1,305461,162229,4,121433,1,1,127255,1,84123
14,1,29359,54321,0,47,120970,2000,282787,1,124198,...,1,128210,121318,1,118832,2,1,127041,1,37497
15,0,7672,4644,0,43,119657,2000,303218,1,122885,...,1,119777,120005,1,118832,1,1,128521,1,15810
16,1,6673,7322,0,38,119797,2000,142485,1,123376,...,1,161797,120496,1,119703,1,1,127023,1,14811
17,1,42995,19323,0,39,120381,1000,143236,1,123958,...,1,314331,121078,1,119703,1,1,130336,1,51133
18,1,40446,7721,0,29,119147,1000,305094,1,122375,...,1,131153,119495,1,118814,1,1,126494,1,48584
19,0,82589,27184,0,36,121693,1000,315517,1,125271,...,1,125092,122391,1,119703,1,1,130919,1,90727
20,1,76517,20412,0,29,123002,1000,134215,1,126230,...,1,306928,123350,1,118832,1,1,128503,1,84655
21,1,40263,18151,0,37,119868,4000,305094,1,123096,...,1,287977,120216,1,119444,1,1,127172,1,48401
22,1,32686,801,0,35,122467,1000,16972,1,125695,...,1,128356,122815,1,118832,1,1,136071,1,40824
23,1,32941,50374,0,42,120771,1000,32092,1,124000,...,1,312696,121120,1,118846,1,1,127359,1,41079
24,1,44434,34630,0,41,118779,1000,303218,1,122006,...,1,242854,119126,1,118832,1,1,126869,1,52572
25,1,26950,18704,1,41,119193,1000,303218,1,122422,...,1,119777,119542,1,118832,1,1,130432,1,35088
26,1,26097,1061,0,31,119515,1000,130942,1,122742,...,1,308270,119862,1,118832,1,1,134859,1,34235
27,1,77832,123350,0,35,119917,2000,274216,1,123494,...,1,121915,120614,1,119911,1,1,134477,1,85970
28,1,3018,3912,0,34,119650,1000,315517,1,123227,...,1,121648,120347,1,119703,1,1,128938,1,11156
29,1,4649,50497,0,43,120570,1000,143022,1,124148,...,1,315377,121268,1,120032,1,1,127251,1,12787
30,1,7704,4761,0,46,118779,19000,303218,1,122006,...,1,119777,119126,1,119933,1,1,129212,1,15842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16354,1,5674,1586,0,44,119150,1000,303218,1,122379,...,1,119777,119499,1,118832,1,1,28321,1,13812
16355,1,20309,28545,0,40,118769,1000,130186,1,121997,...,1,120153,119117,1,5981,1,1,126444,1,28447
16356,1,1970,4828,0,33,119707,1000,130723,1,122935,...,1,310994,120055,1,118832,1,1,127382,1,10108
16357,1,81967,3890,0,38,118779,1000,303218,1,122006,...,1,119777,119126,1,118832,1,1,127071,2,90105
16358,1,1975,61034,0,46,119785,1000,130723,1,123013,...,1,176279,120133,1,120467,1,1,128252,1,10113
16359,1,35145,21070,0,42,120381,4000,143236,1,123958,...,1,164871,121078,1,119703,2,1,132369,1,43283
16360,1,40882,52212,0,33,118926,2000,130186,1,122155,...,1,119925,119275,2,118832,1,1,127416,1,49020
16361,1,280391,3523,0,34,120307,1000,295086,1,123885,...,1,175492,121005,1,120494,1,1,126662,1,288529
16362,1,36643,6228,0,37,120528,1000,315517,1,124106,...,1,124216,121226,1,119703,1,1,128917,1,44781
16363,1,36922,56230,0,34,120064,1000,315517,1,123643,...,1,121648,120763,1,119703,1,1,129030,1,45060
16364,1,27229,311470,0,41,123271,1000,142996,1,126849,...,1,151697,123969,1,119703,1,1,127127,1,35367
16365,1,1974,49820,0,37,119203,1000,130630,1,311125,...,1,296356,308245,1,118832,1,1,127063,1,10112
16366,1,5717,4982,0,43,120381,1000,143236,1,123958,...,1,314331,121078,1,119703,1,1,126980,1,13855
16367,1,29122,74783,0,40,120528,3000,315517,1,124106,...,2,150856,121226,1,119703,1,1,127553,1,37260
16368,1,5659,2111,0,42,120936,1000,143782,1,124514,...,1,212202,121634,1,120183,1,1,126998,1,13797
16369,1,20379,888,0,37,120429,2000,333172,1,124007,...,1,283185,121127,1,119703,1,1,130835,1,28517
16370,1,25094,4003,0,34,120064,1000,315517,1,123643,...,1,244725,120763,5,119703,1,1,130632,1,33232
16371,1,2201,8063,2,31,121706,1000,142803,1,125284,...,1,151158,122404,1,119703,1,1,132276,1,10339
16372,1,30147,95516,0,41,134436,10000,295086,1,138014,...,1,230004,135134,1,119703,1,1,127112,1,38285
16373,1,46720,36088,0,41,120429,4000,333172,1,124007,...,1,266142,121127,1,119703,1,1,127255,1,54858
16374,1,32204,4207,0,45,119203,2000,130630,1,311125,...,1,313493,308245,1,118832,1,2,128536,1,40342
16375,0,22282,13438,0,36,126057,1000,144732,1,129635,...,1,137250,126755,1,120695,2,1,126540,1,30420
16376,1,3018,2266,0,45,120936,15000,143782,1,124514,...,1,138878,121634,1,119703,1,1,127070,1,11156
16377,1,35627,46122,1,39,121433,1000,130942,1,124661,...,1,306336,121781,1,118832,1,1,129108,1,43765
16378,1,36500,26357,0,35,119650,1000,315517,1,123227,...,1,244725,120347,1,119703,1,1,127011,1,44638
16379,1,42856,15417,0,49,119270,9000,130697,1,122497,...,1,141769,119617,1,118854,1,1,126427,1,50994
16380,1,82990,49733,0,38,119650,1000,315517,1,123227,...,1,121648,120347,1,119703,1,1,128716,1,91128
16381,1,5674,16946,0,35,119193,1000,303218,1,122422,...,1,119777,119542,1,118832,1,1,128866,1,13812
16382,1,76722,4730,0,41,123939,7000,130697,1,127168,...,1,271277,124288,1,118832,1,1,126944,1,84860
16383,1,76900,4731,0,44,121217,5000,130723,1,124445,...,1,313231,121565,1,118832,1,1,128947,1,85038

In [25]:
print(train_raw['F3'].unique())
print(train_raw['F4'].unique())
print(train_raw['F6'].unique())
print(train_raw['F8'].unique())

print(train_raw['F11'].unique())
print(train_raw['F15'].unique())
print(train_raw['F18'].unique())
print(train_raw['F20'].unique())
print(train_raw['F21'].unique())
print(train_raw['F23'].unique())

print(train_raw['Y'].mean())

[0 1 2 7 4 3 5]
[38 41 50 45 43 40 44 48 47 42 39 29 36 37 35 31 34 46 32 33 25 56 52 30 27
 51 55 49 28 53 54 58 22 26 24 23 57 21 59]
[    1000     2000     8000     4000    19000     7000     3000    14000
     9000     6000    10000     5000    18000   157000    12000    32000
   114000   115000    16000    15000   244000    39000    22000    21000
    33000    59000    11000    29000    13000   101000    37000   145000
    30000    58000    26000   143000    20000   210000    45000    41000
    28000   191000    31000    24000   215000    52000    54000    98000
    46000    48000   119000    23000   310000    17000    36000    34000
    35000   456000   160000  2703000    53000    96000   104000    25000
   100000    61000    27000   113000    63000    83000   643000    91000
   715000    99000    40000   418000    72000  1096000    88000    93000
   204000   902000    42000   138000    47000  1215000    69000    82000
    38000   543000    49000    73000    71000   117000    86000    89000
   206000  1747000   146000   109000    74000    76000   175000   187000
   103000    57000    64000    65000    56000   203000    43000   370000
    44000    55000   306000   398000    78000   154000   134000  5585000
   316000 11089000   399000   236000   110000    60000  2887000   533000
   169000   209000    67000   156000   773000   111000  4738000    94000
   615000   297000   155000    92000   744000  1168000    79000   242000
   162000    80000   313000    75000   112000   473000   527000    50000
   170000    66000   243000   460000   150000    62000   125000   128000
   202000   108000   415000   280000   182000]
[1 2 3 5 6 4 9]
[ 1  2  3 10  4  6  7  8  5]
[1 2 3 4 6 5 7 8]
[ 1  4  2  3  7  5 13  6]
[ 1  2  3  4  5 12]
[1 2 4 3 5 8 6 7]
[1 3 2 5 6 4 7 8]
0.941463712385

In [26]:
y = train_raw['Y']
X = train_raw.drop(['Y'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [27]:
model = sm.OLS(y_train, X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.481
Date:                Wed, 07 Mar 2018   Prob (F-statistic):             0.0811
Time:                        16:34:47   Log-Likelihood:                 496.86
No. Observations:               10976   AIC:                            -953.7
Df Residuals:                   10956   BIC:                            -807.6
Df Model:                          19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
F1         -5.381e-05   4.05e-06    -13.287      0.000   -6.17e-05   -4.59e-05
F2         -2.366e-06   1.82e-07    -13.035      0.000   -2.72e-06   -2.01e-06
F3            -0.0073      0.008     -0.915      0.360      -0.023       0.008
F4             0.0008      0.000      1.794      0.073   -7.36e-05       0.002
F5         -9.228e-06   8.52e-07    -10.832      0.000   -1.09e-05   -7.56e-06
F6           1.29e-08    1.8e-08      0.717      0.473   -2.24e-08    4.82e-08
F7         -1.807e-08   2.29e-08     -0.789      0.430    -6.3e-08    2.68e-08
F8            -0.0072      0.010     -0.736      0.462      -0.027       0.012
F9          1.901e-05   1.43e-06     13.266      0.000    1.62e-05    2.18e-05
F10         -8.38e-07   3.33e-07     -2.514      0.012   -1.49e-06   -1.84e-07
F11           -0.0041      0.008     -0.513      0.608      -0.020       0.012
F12         9.841e-06   6.19e-07     15.888      0.000    8.63e-06    1.11e-05
F13         2.355e-06   1.79e-07     13.146      0.000       2e-06    2.71e-06
F14        -5.616e-05   4.23e-06    -13.281      0.000   -6.45e-05   -4.79e-05
F15            0.0054      0.008      0.696      0.487      -0.010       0.021
F16         5.362e-08   3.29e-08      1.631      0.103   -1.08e-08    1.18e-07
F17        -1.908e-05   1.43e-06    -13.303      0.000   -2.19e-05   -1.63e-05
F18            0.0026      0.007      0.348      0.728      -0.012       0.017
F19        -2.314e-07   1.98e-07     -1.167      0.243    -6.2e-07    1.57e-07
F20            0.0040      0.009      0.450      0.653      -0.013       0.021
F21            0.0119      0.008      1.423      0.155      -0.004       0.028
F22         5.595e-05   4.21e-06     13.294      0.000    4.77e-05    6.42e-05
F23            0.0087      0.009      0.936      0.349      -0.009       0.027
F24         5.381e-05   4.05e-06     13.290      0.000    4.59e-05    6.17e-05
==============================================================================
Omnibus:                     8333.547   Durbin-Watson:                   2.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            99059.248
Skew:                          -3.813   Prob(JB):                         0.00
Kurtosis:                      15.587   Cond. No.                     6.63e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.12e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [28]:
prediction = np.matmul(X_test, results.params)
rms = sqrt(mean_squared_error(y_test, prediction))
print (rms)

0.241347213884

In [30]:
y_test.size

5407

In [33]:
listofzeros = [1] * 5407
rms = sqrt(mean_squared_error(y_test, listofzeros))
print('Ones: ' + str(rms))

listmean = [np.mean(y_train)] * 5407
rms = sqrt(mean_squared_error(y_test, listmean))
print('Mean: ' + str(rms))

Ones: 0.248911074014
Mean: 0.241130986168